.empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.empty-img {
  width: 10rem;
  height: auto;
}

.empty-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.empty-description {
  color: var(--color-slate-500);
  line-height: 1.5;
}

@media (min-width: 768px) {
  .empty-wrapper {
    height: 100%;
    justify-content: center;
  }
  
  .empty-img {
    width: 12rem;
  }
  
  .empty-title {
    font-size: 1.5rem;
  }
}